# --- System & Python Trash ---
.DS_Store
__pycache__/
*.pyc
myvenv
perforatedai.egg-info
/build

# --- Project Specific Ignored Folders ---
train/
test/
wandb/

# --- Large Files ---
*.pt
*.pth
*.onnx
.DS_Store
venv/
**/PAI/
**/data/
