# Common Virtual Environments
myvenv*
ENV*
venv*

# Common Data and Output Files
data*
!/data_processing/
PAI*

# Build Folders
**/__pycache__
/build
releases/*
perforatedai.egg-info

# Working Folders
*.pt
**/wandb/
